.order-history {
    padding: 40px;
}

.order-history h1 {
    margin-bottom: 25px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th {
    background: #2e7d32;
    color: white;
}

th,
td {
    padding: 14px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

button {
    background: #2e7d32;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
}